body {
    background-color: hsl(212, 45%, 89%) ;
}

.conteudo {
    background-color: hsl(0, 0%, 100%);
    height: 430px;
    width: 275px;
    position:relative;
    margin: 100px auto;
    padding-top: 10px;
    border-radius: 15px;
}

.qr-code {
    display: flex;
    margin: auto;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.textos {
    margin: 0 auto;
    text-align: center;
    font-family: outfit;
    width: 230px;
}

.titulo {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 17px;
}
.texto{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}